*.png binary
*.ico binary
*.svg text
*.js text eol=lf
*.ts text eol=lf
*.py text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
Makefile text eol=lf
Dockerfile text eol=lf
