{
  "D-EAGJ": {
    "2025": 0.0,
    "2024": 0.0
  },
  "D-EHYL": {
    "2025": 0.0,
    "2024": 0.0
  },
  "D-ESST": {
    "2025": 0.0,
    "2024": 0.0
  },
  "D-ELGD": {
    "2025": 0.0,
    "2024": 0.0
  }
}
